/*NAV MENU*/

#fa-bars{
    display: none;

}



.nav-responsive {
    /* display: none; */
    height: 300px;
    width: 100%; /*keep the items centralized*/
    padding-top: 25px;
    background-color:#2F1893;
    margin: 0 auto;
    position: absolute;
    top: 101%; 
    transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
    /* pointer-events: none; */
    z-index: 9999;
    
}


.nav-responsive > ul > li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid rgb(172, 169, 169);
    font-family: 'DM Sans', sans-serif;
    padding: 10px 50px 0px 50px;
    
    
}

.nav-responsive > ul > li:last-child{
    border-bottom: none;
}

/*SCROLL ICON ANIMATION*/

.scroll-icon{
    visibility: hidden;
}

@keyframes scroll-icon {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

  .scroll-icon {
    animation: scroll-icon 0.95s infinite;
  }

@media screen and (max-width: 1050px){

    .dropdown{
        width: 900px;
    }

    .content-footer{
        flex-direction: row;
        max-width: 800px;
        margin: 0 auto;
    }

    /* .content-image{
        padding: 20px;
    } */
    
}


@media screen and (max-width: 800px) {
    
    .container-nav{
        padding: 0;
    }

    .nav{
        
        border-bottom: 1px solid #FFF;
        
    }

    .nav-desktop{
        display: none; /* Hide all the ul and li */
    }

    
    #fa-bars {
        display: flex;
        font-size: 2rem;
        margin-right: 50px;
        color:white;
        cursor: pointer;
        position: relative;
        padding: 25px 0 25px 0;
        
    }

    .fa-bars2{
        font-size: 3rem;
        
    }

    .nav-logo {
        order: -1; /* Move the logo to the left */
        margin-left: 50px;
    }

    #fa-bars:hover + .nav-responsive,
    .nav-responsive:hover {
        visibility: visible;
        opacity: 1;
}

    .nav-responsive > ul > li:hover {
        background-color:#3518b8;
                
    }

    .img-watch{
        max-width: 370px;
        max-height: 370px;
    }

    .header-img{
        padding: 40px 20px;
        text-align: center;
        align-self: center;
    }

    .header-h5{
        position: absolute;
        margin-top: 300px;
    }

    .paginator{
        display: flex;
        width: 15%;
        margin: 0 auto;
        justify-content: space-around;
        padding-top: 180px;
    }

    .pag{
        width: 15px;
        height: 15px;
    }

    .container-header{
        min-height: calc(100vh - 185px);
        margin-bottom: 30px;
    }

    .content{
        max-width: 800px;
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
    }

    .content-footer{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
    }

    .content-image{
        margin: 0;
        padding: 0;

    }

    .content-text{
        width: 100%;
        padding-left: 1rem;

    }
    .content-image-main{
        display: flex;
        padding-bottom: 1rem;
        width: 100%;

    }

    .features{
        margin-top: 40px;
    }

    .main-table{
        margin-bottom: 40px;
    }

    

    .footer-bills{
        flex-direction: column;
        padding: 0;
        width: 70%;
    }
    
    .fa-paypal{
        text-align: center;
    }

    .button2{
        width: 70%;
        height: 2rem;
        margin: 0 auto;
    }

    .text-paypal{
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    
    .scroll-icon{
        visibility: visible;
        font-size: 2rem;
        color: #2F1893;
        padding: 1rem 0;
        position: absolute;
        margin-top: 1145px;
        right: 1rem;
    }

    .container-price{
        min-height: 115vh;
    }
    
}

/*MOBILE*/

@media only screen and (max-width: 600px) {
    .nav-logo {
        order: -1; /* Move the logo to the left */
        margin-left: 10px;
    }
     
    .column{
        width: 100%;
    }


    /* .header-text > h1{
        padding-top: 10px;
    } */


    .header-button{
        text-align: center;
    }

    .header-text > h1{
        padding: 0px 20px 10px 20px;

    }

    .header-h1{
        order: 1;
        padding: 25px 20px 0px 0px;
        margin: 0 auto;
    }
    .header-h5{
        order: 4;
        position: relative;
        margin-top: 10px;
        padding: 20px 20px 0px 20px;
    }
    .header-img{
        order: 2;
        padding-top: 130px;
    }

    .paginator{
        padding: 40px 150px 0px 150px;
        order: 3;
        left: 0;
    }

    .header-button {
        order: 5;
        position: relative;
        margin-top: 10px;
    }

    

}