*, 
*::before,
*::after {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;

}

h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF;
}

.h2-purple{
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 2px;
    color: #1E0E62;
    align-self: center;    
}


/* --- NAV --- */
.container-nav{
    background-color: #2F1893;
    position: fixed; 
    left: 0;
    right: 0;
    height: 85px;
    z-index: 99;
    border-bottom: 1px solid #FFF;
    padding: 0px 20px;
   }


.nav{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    align-content: center; 
    position: relative; 
}



.nav > ul > li {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

.nav > ul > li:last-child::after {
    border-right: none;
}



.nav > ul > li::after{
    content: "";
    border-right: 2px solid white;
    display: inline-block;
    height: 25px;
    position: absolute ;
    right: -2px;
    top: 50%;
    margin-top: -12.5px;
}

ul{
    margin: 0;
    padding: 0;

}

li {
    text-indent: 0;
    list-style-type: none;
    color:white;
    display: inline;    
}

.nav > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
}


.button {
   background-color:  #E93A7D;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}


.nav a {
    font-size: 16px;
    color:black;
    text-align: center;
    padding: 14px 16px;
  }


  .dropdown {   
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    top: 100%;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: row;
    text-align: left !important;
    background-color:#2F1893;
    width: 1100px;
    max-width: 1100px;
    height: 600px;
    padding: 40px 50px;
    flex-wrap: wrap;
    
  }

  .product > i  {
    color: white;
    font-size: 60px;
  }

  .product > h2  {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: 2px;
  }

  .product p{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    width: 70%;
  }


  .product{
    width: 25%;
    padding: 40px 0px;
  }

  .li-products{
    padding-bottom: 30px;
    padding-top: 30px;
  }  

  
/* Show the dropdown menu on hover */
 .li-products:hover .dropdown {
     visibility: visible;
     opacity: 1;
     /* pointer-events: none; */
     
}



/* HEADER */
.container-header{
    display: flex;
    flex-direction: row;
    padding-top: 85px;
    max-width: 1280px;
    min-height: 90vh;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 20px;
}

.column{
    width: 50%;
}

.header-text > h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 58px;
    letter-spacing: 3px;
    /* padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px; */
    margin: 0 auto;
    
}

.header-h1{
    height: 200px;
    padding: 50px 10px;
    
}

.header-h5{
    position: absolute;
    margin-top: 250px;
    max-width: 640px;
    z-index: 1;
}


.header-text h5{
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    padding: 0 10px;
}

.header-text button{
    border-radius: 100px;
    background: #482bE7;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding: 15px;
}

.header-button{
    padding: 50px;
    position: absolute;
    margin-top: 500px;
    max-width: 640px;
    text-align: center;
    z-index: 2;
}

.header-img{
    padding: 80px 5px;
    text-align: center;
}

.paginator{
    display: flex;
    width: 15%;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 3rem;
    
}

.pag{
  width: 20px;
  height: 20px;
  background-color: #E93A7D;
  border-radius: 20px;
}

/* --- CONTENT --- */
.container-content{
    width: 100%;
    min-height: calc(100vh - 85px);
    background-color: #2F1893;
    
}

.content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 85px);
    max-width: 1280px;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 0px 20px;
    
}


.content > iframe{
    align-self: center;
}

.content-footer {
    display: flex;
    flex-direction: row;
    /* max-width: 800px; */
    padding-top: 70px;
}

.content-image-main{
    display: flex;
    flex-direction: row;
    width: 50%;
    /* align-items: center;
    justify-content: center; */
}


.content-image{
    margin: 0.5rem;
    padding: 0px 8px;
    position: relative;
    align-self: center;
    z-index: 3;
    
    
}

.play-icon{
    position: absolute;
    font-size: 30px;
    color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.content-text{
    text-align: left;
    width: 100%;
    color: #FFF;
}

.content-text > h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0;
}

.content-text > p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}



/* --- PRICE --- */
.container-price{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1280px;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 20px 20px;
    overflow-x: auto;
}

.price-title{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.main-table{
    border-collapse: collapse;
}

.table-header{
    width: 25%;
    height: 140px;
    padding: 0 25px 0 25px;
    background-color: #EBEAED;
    border-right: 1px solid rgb(204, 204, 204);   
    
}

.table-header:last-child{
    border: none;
    border-top-right-radius: 20px;
}

.table-header:first-child{
    border-top-left-radius: 20px;
}

.table-header > h3 {
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.table-header > p {
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.table-row1{
    width: 25%;
    /* height: 140px; */
    padding: 0 25px 0 25px;
    border: 1px solid rgb(204, 204, 204);   
    
}

.table-row1 > h2 {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
    text-align: right;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table-row1-price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    
}

.table-row-p{
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 70px;
}

.table-row-price{
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 120.69% */
    letter-spacing: -1px; 
}

.table-row-body{
    width: 25%;
    padding: 0 25px 0 25px;
    border: 1px solid rgb(204, 204, 204);  
    margin: 0 ;
    height: 60px;
}

.table-row-body > h2 {
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
    text-align: right;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table-row-body > p{
    color: var(--colors-heading, #1E0E62);
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.table-row-body > button{
    color: #2F1893;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204); 
    border-radius: 20px;
}
#middle-button{
  background-color: #25DAC5;
  color:white;
}

.row-button{
    height: 110px;
}

.price-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#middle-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #16af9d;
  
}

/* --- FEATURES --- */
.container-features{
    width: 100%;
    min-height: calc(100vh - 85px);
    /* background-image: url('images/Image1.png'); */
    /* background-size: cover; */
    background-color: #2F1893;
}

.features{
    display: flex;
    flex-direction: column;
    min-width: 10vh;
    max-width: 1280px;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 50px;
}

      
.features p{
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    padding-left: 50px;
    padding-right: 50px;    
}  

.card-content{
    display: flex;    
    flex-wrap: wrap;  
    justify-content: center;
}

.cards > h3{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}


.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin: 25px;
    width: 370px;
    height: 460px;
    padding: 20px;
    flex-shrink: 0;
    border: 2px solid rgb(255, 255, 255,0.4);    
}
  
.icons{
    font-size: 50px;
}

.cards p{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.cards button {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border-radius: 100px;
    align-self: center;
}

/* --- CONTAINER BILL --- */
.container-bill{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 150px);
    max-width: 1280px;
    padding-top: 20px;
    margin: 0 auto;
}


.button2{
    background-color:  #E93A7D;
    border: none;
    color: white;
    padding: 0px 40px;
    border-radius: 55px;   
}

.form-flex{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    max-width: 1280px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 25px 50px;
    flex-wrap: wrap;  
}

.form-control{
    width: 50%;
    padding: 15px 15px;
}
 
.address{
    width: 80%;
}
.postcode{
    width: 20%;
 }

 .card{
    width: 50%;
 }
.expiration{
    width: 30%;
}

.cvv{
    width: 20%;
}

.form-control > input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;    
    height: 50px;
  }

.form-control > label {
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-bills{
   display: flex;
   width: 100%;
   padding: 25px 150px 0px 150px;
   justify-items: center;
   justify-content: space-between;
   margin: 0 auto;
  }

.text-paypal{
    /* padding-right: 350px; */
    margin-top: 15px;
  }

.container-footer{
    
    background-color: #2F1893;
    min-height: 250px;
    justify-content: space-between;
    
}

.footer-line1{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer-line1 > p, .footer-line2 > p{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    color: white;
}


.footer-line2{
    display: flex;
    gap: 2rem;
    align-items: baseline;
    color: white;
    flex-wrap: wrap;
}

.divider-footer{
    max-width: 1280px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1.5);
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
		transform: scale(0.95);
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}

.footer-line2 > i {
    transform: scale(1);
	animation: pulse 2s infinite;
}
